VITE_SUPABASE_URL=https://nlvhoefvbkidoqblnzls.supabase.co│
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5sdmhvZWZ2YmtpZG9xYmxuemxzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAzNjA1MTUsImV4cCI6MjA5NTkzNjUxNX0.BSAx_d6T-_AQhIR7zOCV3f-_13XZ_4Hf94ABUVpRH0k